

body {
  margin: 0px;
  font-family: "Noto sans lao";

}


table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #F8F9FA;
}



