@import url(https://fonts.google.com/noto/specimen/Noto+Sans+Lao?query=noto+sans+la);

:root {
  font-family: "Noto sans lao";
  font-size: 16px;
 
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(41, 40, 40, 0.87);
  background-color: #ffffff;

}


.en {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 500px;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .container {
    flex-direction: column;
    margin: 100px 50px 100px 50px;
  }
  .form{
    margin: 0px 100px;

  }
}

.viewmore{
  text-decoration: underline;
  
}
.viewmore:hover{
 color: red;
 cursor: pointer;
  
}
